<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button [routerLink]="''" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-button>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="article">
  <div class="longArticle">
    <h1>{{article.title}}</h1>
    <img [src]="article.imageURL" id="imgLongArticle" [alt]="article.altText">
    <p>{{article.content}}</p>
  </div>
</ion-content>
